@page "/equipments/move"


@attribute [Authorize(Roles = "superAdmin,admin")]



<div class="card">
     <div class="card-body">

          <div class="row">


               <div class="col-md-6 mb-3">
                    <label class="form-label w-auto">Kimning nomiga:</label>
                    <select @bind="selectedUserId" class="form-control">

                         <option value="">Tanlang</option>

                         @foreach (User user in users)
                         {
                              <option value="@user.Id">
                                   @user.FullName
                              </option>
                         }

                    </select>
               </div>

               <div class="col-md6 mb-3">
                    <InputFile OnChange="HandleFileSelected" class="form-control"
                         accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" />


               </div>

               <div class="col-md-6">
                    <LoadingButton Name="O'tkazish" RunEvent="SendAsync" CssClass="btn btn-primary" IsRequestSending="@isRequestSending">
                         </LoadingButton>
               </div>
          </div>

     </div>
</div>


<div class="card @CssClass">
     <div class="card-header d-flex justify-content-between align-items-center">


          <h5 class="card-title">
               Jihozlar <br>
               @($"Jami: {equipments?.Count ?? 0} ta")


          </h5>


     </div>
     @if (equipments is null)
     {
          <LoadingComponent />
     }
     else
     {
          <div class="card-body">
               <div class="table-responsive">
                    <table class="table  table-hover">
                         <thead class="table-light">
                              <tr>

                                   <th scope="col">T/r</th>
                                   <th scope="col">Nomi</th>
                                   <th scope="col">Invertar raqami</th>
                                   <th scope="col">Moddiy javobgar</th>
                                   <th scope="col">Jihoz turi</th>
                                   <th scope="col">Mac Adresi</th>



                              </tr>
                         </thead>
                         <tbody>

                              @foreach (Equipment equipment in equipments)
                              {

                                   <tr>

                                        <td> @equipment.Id</td>


                                        <td>
                                             <NavLink href="@($"equipments/{equipment.Id}")">
                                                  @equipment.Name
                                             </NavLink>

                                        </td>
                                        <td>@equipment.InvertarId</td>

                                        <td>@equipment.User?.FullName</td>

                                        <td>@equipment.EquipmentType?.Name</td>
                                        <td>@equipment.MacAddress</td>

                                   </tr>
                              }

                         </tbody>
                    </table>
               </div>


          </div>




     }
</div>



@inject EquipmentClient EquipmentClient

@inject UserClient UserClient
@inject AppStateService AppStateService

@inject NavigationManager NavigationManager

@inject ToastrService ToastrService

@code {

     protected List<Equipment>? equipments;


     protected int? selectedUserId;


     private string? errorMessage;

     protected bool canUpload = false;

     private IBrowserFile? selectedFile;

     protected bool isRequestSending = false;

     protected List<User> users = new();
     private string? selectedFileName;

     private string CssClass = "";


     protected override async Task OnInitializedAsync()
     {

          if (AppStateService.Equipments is null)
          {
               ToastrService.ShowWarning("Siz jihozlarni tanlamagansiz");

               NavigationManager.NavigateTo("equipments");

          }

          var userResponse = await UserClient.GetAllAsync();
          users = userResponse.Data ?? new();
          equipments = AppStateService.Equipments;

     }


     private void HandleFileSelected(InputFileChangeEventArgs e)
     {

          selectedFile = e.File;
          errorMessage = null;
          selectedFileName = null;

          canUpload = false;

          if (selectedFile != null)
          {
               var allowedTypes = new[]
               {
"application/pdf",
"application/msword",
"application/vnd.openxmlformats-officedocument.wordprocessingml.document"
};

               if (!allowedTypes.Contains(selectedFile.ContentType))
               {
                    errorMessage = "Faqat PDF yoki DOCX fayl tanlashingiz mumkin!";
                    return;
               }

               if (selectedFile.Size > 10 * 1024 * 1024)
               {
                    errorMessage = "Fayl hajmi 10 MB dan oshmasligi kerak!";
                    return;
               }
               selectedFileName = selectedFile.Name;

               canUpload = true;



          }

     }
     protected override void OnAfterRender(bool firstRender)
     {

          if (firstRender)
          {
               CssClass = "fade-in";
               StateHasChanged();
          }
          base.OnAfterRender(firstRender);
     }


     protected async Task SendAsync()
     {

          if (selectedUserId is not null && equipments is not null && selectedFile is not null)
          {

               isRequestSending = true;

               var content = new MultipartFormDataContent();
               var stream = selectedFile.OpenReadStream(10 * 1024 * 1024);
               content.Add(new StreamContent(stream), "file", selectedFile.Name);



               var response = await EquipmentClient.SendEquipmentTo(selectedUserId!.Value, equipments, content);

               ToastrService.ShowInfo(response.Message!);

               AppStateService.Equipments = null;


               isRequestSending = false;


               NavigationManager.NavigateTo("equipments");


          }
          else
          {
               ToastrService.ShowWarning("Foydalanubchini tanlamadingiz");
          }

     }








}